body {
    width: 200px;
    height: 150px;
    background-color: aqua;
   
  }
  
  #joke-container {
    text-align: center;
    margin-top: 50px;
    border-radius: 50%;
    width: 200px;
   
  }
  
  #joke-text {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: cursive;
  }
  
  #new-joke-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  